<html>
  <head>
    <meta charset="utf-8">
    <title>ProCompra</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/idangerous.swiper.css" />  
    <link rel="stylesheet" type="text/css" href="bubbletree/build/bubbletree.css" />  
    <script type="text/javascript" src="bubbletree/lib/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="bubbletree/lib/jquery.history.js"></script>
    <script type="text/javascript" src="bubbletree/lib/raphael.js"></script>
    <script type="text/javascript" src="bubbletree/lib/vis4.js"></script>
    <script type="text/javascript" src="bubbletree/lib/Tween.js"></script>
    <script type="text/javascript" src="bubbletree/build/bubbletree.js"></script>
    <script type="text/javascript" src="javascripts/idangerous.swiper.min.js"></script>
    <!--<script type="text/javascript" src="bubbletree/styles/icons/style.cofog.js"></script>-->
    <script type="text/javascript" src="javascripts/sequence.js"></script>

    <style>
    .arrow-left {
      background: url(images/arrows.png) no-repeat left top;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -15px;
      width: 17px;
      height: 30px;
    }
    .arrow-right {
      background: url(images/arrows.png) no-repeat left bottom;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -15px;
      width: 17px;
      height: 30px;
    }
    .swiper-container {
      height: 100%;
      width: 100%;
    }
    .pagination {
      position: absolute;
      left: 0;
      text-align: center;
      bottom:5px;
      width: 100%;
    }
    .swiper-pagination-switch {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: #999;
      box-shadow: 0px 1px 2px #555 inset;
      margin: 0 3px;
      cursor: pointer;
    }
    .swiper-active-switch {
      background: #fff;
    }
    </style>

  </head>
  <body>
    <div class="top-container">
<!--       <a class="arrow-left" href="#"></a> 
      <a class="arrow-right" href="#"></a> -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          
          <div class="swiper-slide noSwipingClass">
            <div class="content-slide">
              <div id="main">
                <div class="bubbletree-wrapper">
                  <div class="bubbletree"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="content-slide">
              <p>Hola!</p>
            </div>
          </div>
        
        </div>
      </div>
      <div class="pagination"></div>
    </div>


  <script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    loop:false,
    grabCursor: false,
    paginationClickable: true,
    noSwiping: true
  });
  </script>

  </body>
</html>