<html>
  <head>
    <meta charset="utf-8">
    <title>ProCompra</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/idangerous.swiper.css" />  
    <link rel="stylesheet" type="text/css" href="bubbletree/build/bubbletree.css" />  
    <link rel="stylesheet" type="text/css" href="stylesheets/heatmap.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="bubbletree/lib/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="bubbletree/lib/jquery.history.js"></script>
    <script type="text/javascript" src="bubbletree/lib/raphael.js"></script>
    <script type="text/javascript" src="bubbletree/lib/vis4.js"></script>
    <script type="text/javascript" src="bubbletree/lib/Tween.js"></script>
    <script type="text/javascript" src="javascripts/heat.js"></script>
    <script type="text/javascript" src="bubbletree/build/bubbletree.js"></script>
    <script type="text/javascript" src="javascripts/idangerous.swiper.min.js"></script>    
    <!--<script type="text/javascript" src="bubbletree/styles/icons/style.cofog.js"></script>-->
    <script type="text/javascript" src="javascripts/sequence.js"></script>


  </head>

  <body>
    <div class="header-right">
      
    </div>
    <div class="top-container">
<!--       <a class="arrow-left" href="#"></a> 
      <a class="arrow-right" href="#"></a> -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          
          <div class="swiper-slide noSwipingClass">
            <div class="content-slide">
              <div id="main">
                <div class="bubbletree-wrapper">
                  <div class="bubbletree"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="content-slide">
              Ordenar: 
              <select id="order">
              <option value="hclust">Por Cluster</option>
              <option value="probecontrast">Por Nombre</option>
              <option value="probe">Por Nombre de Vendedor</option>
              <option value="contrast">Por Nombre de Comprador</option>
              <!--<option value="custom">Por Variable po</option>-->
              </select>
              </select>
              <div id="chart" style='overflow:auto; width:100%; height:100%;'></div>
            </div>
          </div>
        
        </div>
      </div>
      <div class="pagination"></div>
    </div>


  <script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    loop:false,
    grabCursor: false,
    paginationClickable: true,
    noSwiping: true
  });
  </script>

</html>