<html>
  <head>
    <meta charset="utf-8">
    <title>ProCompra</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slidebars.min.css" />
    <link rel="stylesheet" type="text/css" href="bubbletree/build/bubbletree.css" />  
    <link rel="stylesheet" type="text/css" href="stylesheets/heatmap.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <script type="text/javascript" src="javascripts/d3.v3.min.js"></script>
    <script type="text/javascript" src="bubbletree/lib/jquery-1.5.2.min.js"></script>

    <script src="javascripts/bjqs.min.js"></script>
    <script src="javascripts/popup.js"></script>
    <script src="javascripts/slides.js"></script>

    <script type="text/javascript" src="javascripts/idangerous.swiper.js"></script>    
    <script type="text/javascript" src="javascripts/slidebars.min.js"></script>
    <script type="text/javascript" src="bubbletree/lib/jquery.history.js"></script>
    <script type="text/javascript" src="bubbletree/lib/raphael.js"></script>
    <script type="text/javascript" src="bubbletree/lib/vis4.js"></script>
    <script type="text/javascript" src="bubbletree/lib/Tween.js"></script>
    <!---->
    <script type="text/javascript" src="javascripts/heat.js"></script> 
    <script type="text/javascript" src="bubbletree/build/bubbletree.js"></script>
    <!--<script type="text/javascript" src="bubbletree/styles/icons/style.cofog.js"></script>-->
    <script type="text/javascript" src="javascripts/sequence.js"></script>
    

  </head>

  <body>
    <div class="toggle-sidebar"><img src="images/LogoZoo_negro.svg"></div>
    <div class="toggle-sidebar logo2"><img src="images/abre-cl_logo-blanco.png"></div>
    <div class="top-container" id="sb-site">
<!--       <a class="arrow-left" href="#"></a> 
      <a class="arrow-right" href="#"></a> -->

      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide noSwipingClass">
            <div class="content-slide">  
              <div id="main">
                <div class="bubbletree-wrapper">
                  <div class="bubbletree"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="content-slide">
              Ordenar: 
              <select id="order">
              <option value="hclust">Por Cluster</option>
              <option value="probecontrast">Por Nombre</option>
              <option value="probe">Por Nombre de Vendedor</option>
              <option value="contrast">Por Nombre de Comprador</option>
              <!--<option value="custom">Por Variable po</option>-->
              </select>
              </select>
              <div id="tooltip" class="hidden">
                      <p><span id="value"></p>
              </div>
              <div id="chart" style='overflow:scroll; width:100%; height:100%;'></div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="content-slide">
             Hola!
            </div>
          </div>


        
        </div>
      </div>
    </div>

  


  <script>
  var mySwiper = new Swiper('.swiper-container',{
    loop:false,
    grabCursor: false,
    paginationClickable: false,
    noSwiping: true
  });
  </script>

</html>