.header-right{
	position: absolute;
	right: 0;
	height: 100%;
	width: 80px;
	background-color: #d5d5d5;
	opacity: 0.85;
	z-index: 9999;
	border-left: 2px solid #a5a5a5;
}
.toggle-sidebar{
  position: absolute;
  right: 45px;
  top: 12px;
  z-index: 9999;
}
.back-cont, .back-cont-list, .back-cont-detail{
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.to-cont{
  display: inline-block;
}
.page-container{
  margin-top: -35px;
}
.page-container.orders, .page-container.tenders{
  margin-top: 0px;
}
.page-container.doc-info .main-content{
  padding-top: 50px;
}
.back-cont:hover, .back-cont-list:hover, .back-cont-detail:hover{
  opacity: 0.8;
}
.back-cont img, .back-cont-list img, .back-cont-detail img{
  width: 45px;
}
.toggle-sidebar.logo2{
  right: 145px;
  top: 10px;
}
.toggle-sidebar.logo2 img{
  height: 58px;
}
.arrow-left {
  background: url(images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.arrow-right {
  background: url(images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.swiper-container {
  height: 100%;
  width: 100%;
}
.swiper-slide.overflow-auto{
  overflow: auto;
}
.page-container .main-content{
  padding-top: 90px;
}
.swiper-slide{
  background: #d5d5d5;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}