/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.page-container.orders.list-fix, .page-container.tenders.list-fix{
	width: 50%;
	float: left;
}
.xe-lower.top-p{
	padding-top: 0px !important;
}
.main-content {
	padding-top: 100px !important;
}